<a href='#/products/new'>New</a>

<div class='row-fluid'>
  <% products.each(function (product) { %>

    <div class='span product'>
      <div class='productTitle'>
        <%= product.escape('title') %>
      </div>

      <br>

      <div class='productImage'>
        <img src="<%= product.escape('main_photo_url') %>">
      </div>

      <br>

      $ <%= (product.escape('bid_price') / 100).toFixed(2) %>

      <br>

      <%= product.escape('current_winner_id') %>

      <br>

      <button class='bid_button' data-id="<%= product.escape('id') %>">
        BID NOW
      </button>
    </div>

  <% }); %>
</div>
