<h2><%= product.escape('title') %></h2>

<div class='row-fluid'>
  <img src="<%= product.escape('main_photo_url') %>">
</div>

<div class='row-fluid'>
  <div class='span4 detail_words'>
    <%= product.escape('description') %>
  </div>

  <div class='span2 offset1'>
    <div class='span1 detail_words'>
      Price:
      <br>
    </div>

    <div align='right'>
      <div class='productPrice'>
        $<%= (product.escape('fixed_price') / 100).toFixed(2) %>
      </div>

      <br>
      <button class='add_to_cart_button' data-id="<%= product.escape('id') %>">
        Add to Cart
      </button>
    </span>
  </div>
</div>
