<!DOCTYPE html>
<html>
<head>
  <title>Swindle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <script>filepicker.setKey('<%= ENV['FilepickerAPIKey'] %>');</script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container-fluid">

    <div class="navbar divider-vertical navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">Swindle</a>

        <ul class="nav">
          <li><a><%= notice %></a></li>
          <li><a><%= alert %></a></li>
        </ul>

        <ul class="nav pull-right">

          <% if current_user.blank? %>
            <%= render 'devise/menu/registration_items' %>
          <% else %>
            <li><a>Hello <%= current_user.email %>!</a></li>
            <li><a>Account</a></li>
          <% end %>

          <li><%= link_to 'Cart', '#/cart' %></li>
          <%= render 'devise/menu/login_items' %>

        </ul>
      </div>
    </div>

    <%#
    <form class="form-search pull-right">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search Auctions</button>
    </form>
    %>

    <div id='content'>
      <%= yield %>
    </div>

  </div>

</body>
</html>
